# Note cargo need .git etc to determine source revision
# .git
# .gitignore
# .gitattributes

# Github
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

# macOS (optional)
.DS_Store

# Visual Studio Code (optional)
.vscode

# Cargo build artifacts
/target/
/.cargo-home

# Persistent node data storage
/.node-data
